@use 'Colors';

* {
  color: Colors.$fonts-light;
}

body {
  background-color: Colors.$main-background-light;
}

h1 {
  margin-bottom: 50px;
}

p {
  margin: 0;
}

input, button {
  border: none;
  outline: none;
  border-radius: 5px;
}