@use 'Colors';
@use 'Mixins';

ol {
    width: 60%;
    list-style: none;
    counter-reset: counter;
    padding: 0 50px;

    li {
        counter-increment: counter;
        background-color: white;
        margin: 15px 0;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgb(200, 200, 200);
        position: relative;
        display: flex;
        justify-content: space-between;
        
        input {
            margin: 0 10px;
        }
    }

    li::before {
        content: counter(counter);
        background: linear-gradient(135deg, Colors.$blue 0%, Colors.$green 100%);
        border-radius: 10px;
        border-bottom-right-radius: 0;
        position: absolute;
        top: -12px;
        left: -18px;
        padding: 14px 5px 2px 18px;
        font-weight: bold;
        font-size: 1.2em;
      }
    
}

.edit-tools {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

i {
    color: #616161;
    cursor: pointer;
}

i:hover {
    color: #000;
}

.bi-pencil {
    margin-right: 7.5px;
}

.post {
    background-color: #ffce47;
    width: 45%;
    height: 25%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    transform: rotate(-5deg);
    box-shadow: 2px 3px 2px rgb(100 100 100 / 75%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    ::after {
        content: "";
        display: block;
        position: absolute;
        height: 45px;
        width: 25px;
        right: 43%;
        top: -20px;
        background-color: rgba(65, 105, 225, .9);
    }
}

.checked-item {
    text-decoration:line-through;

    p, i {
        color: rgb(200, 200, 200);
    }
}

@media screen and (min-width: 768px) {
    .post {
        width: 30%;
    }
}

@media screen and (min-width: 992px) {
    ol {
        width: 35%;
    }
    .post {
        width: 20%;
    }
}
